@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
* {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    ;
}

::selection {
  background: #5A17EE;
}
::-moz-selection {
  background: #5A17EE;
}

/*Input boxes*/
.ant-input {
    border-radius: 0;
    border: 1px solid #d9d9d9;
}

.ant-select-selection {
    border-radius: 0;
    border: 1px solid #d9d9d9;
}

/*Expand button*/
.ant-table-row-expand-icon {
    width: 20px;
    height: 20px;
    border: 1px solid #d9d9d9;
    color: #666;
    background: #fff;
    font-size: 14px;
    line-height: 18px;
}

.ant-table-row-expand-icon:hover {
    background: #51DBF8;
    border: 1px solid #51DBF8;
    color: #fff;
}

/*Table head*/
.ant-table-thead>tr>th {
    font-size: 16px;
    background: #2F3057;
    color: #fff;
    font-weight: 600;
}

.ant-table {
    border-radius: 0px;
}

.ant-table table {
    border-radius: 0px;
}

/*Buttons*/
.ant-btn {
    font-size: 14px;
    line-height: 14px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    color: #666;
    font-weight: 600;
    background-color: #f7f7f7;
    border-color: #d9d9d9;
}

.ant-btn:hover{
  color: #fff;
  background-color: #00C4ED;
  border-color: #00C4ED;
}

.ant-btn-default {
    color: #fff;
    background-color: #5A17EE;
    border-color: #5A17EE;
}

.ant-btn-default:hover {
    color: #fff;
    background-color: #9469F0;
    border-color: #9469F0;
}

.ant-btn-primary {
    color: #fff;
    background-color: #00C4ED;
    border-color: #00C4ED;
}

.ant-btn-primary:hover {
    color: #fff;
    background-color: #51DBF8;
    border-color: #51DBF8;
}

.ant-btn-ghost {
    color: #00C4ED;
    background-color: transparent;
    border-color: #00C4ED;
}

.ant-btn-ghost:hover {
    color: #51DBF8;
    background-color: transparent;
    border-color: #51DBF8;
}


/*Hover on table row*/
.ant-table-tbody>tr.ant-table-row-hover, .ant-table-tbody>tr:hover, .ant-table-thead>tr.ant-table-row-hover, .ant-table-thead>tr:hover {
    background: #F5F1FF;
}

/*Table sort icons*/
.ant-table-thead>tr>th.ant-table-column-sort {
    background: #404280;
    opacity: 1;
}

.ant-table-column-sorter .anticon-caret-down, .ant-table-column-sorter .anticon-caret-up {
    color: #fff;
}

.ant-table-thead>tr>th .anticon-filter {
    color: #fff;
}

.ant-table-thead>tr>th .anticon-filter:hover {
    color: #00C4ED;
}

.ant-table-thead>tr>th .anticon-caret-down:hover {
    color: #00C4ED;
}

.ant-table-column-sorter-down:hover .anticon, .ant-table-column-sorter-up:hover .anticon {
    color: #00C4ED;
}

/*Modal*/
.ant-modal-header {
    background: #2F3057;
    color: #fff;
    font-size: 16px;
}

/*Hover on dropdown*/
.ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
    background-color: #F5F1FF;
}
.ant-select-dropdown-menu-item-active, .ant-select-dropdown-menu-item:hover {
    background-color: #F5F1FF;
}

.ant-input:focus, .ant-input:hover {
    border-color: #2F3057;
}

.ant-select-focused .ant-select-selection, .ant-select-selection:active, .ant-select-selection:focus {
    border-color: #2F3057;
}

.ant-select-selection:hover {
    border-color: #2F3057;
}

/* Modal */
.ant-modal-close {
    color: #fff;
}

.ant-modal-close:focus, .ant-modal-close:hover {
    color: #999;
    text-decoration: none;
}

.ant-pagination-item-active {
    background-color: #5A17EE;
    border-color: #5A17EE;
}
